[submodule "sdhci"]
	path = sdhci
	url = git@github.com:nbdd0121/sdhci.git
[submodule "muntjac"]
	path = muntjac
	url = git@github.com:lowrisc/muntjac.git
[submodule "linux"]
	path = linux
	url = git@github.com:nbdd0121/linux.git
	branch = riscv
	shallow = true
[submodule "display_controller"]
	path = display_controller
	url = git@github.com:nbdd0121/display_controller.git
